@import "tailwindcss";

@font-face {
  font-family: "MontserratAlternatesBlack";
  src: url("./assets/MontserratAlternates-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

.btn-1 {
  @apply bg-[#74512d] font-[MontserratAlternatesBlack] cursor-pointer pt-[14px] pb-[36px] pr-[20px] pl-[20px] h-[52px] w-[154px] text-lg text-[#fffce3] border-3 border-[#fffce3] font-bold ml-5 mr-5 transition-transform duration-150 ease-in-out hover:scale-105 hover:bg-[#85623E];
}

.btn-2 {
  @apply bg-[#fffce3] flex justify-center items-center font-[MontserratAlternatesBlack] cursor-pointer text-lg pt-[14px] pb-[14px] pr-[20px] pl-[20px] h-[52px] w-[154px] border-[#74512D] border-3 text-[#74512D] font-bold ml-5 mr-5 transition-transform duration-150 ease-in-out hover:scale-105 hover:bg-[#fffab3];
}

.box {
  background: url("/0373552a427515477f5ee654a42f6a5eb549e230.png");
  background-size: contain;
}

#root {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.para-1 {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 15%;
  text-align: center;
  white-space: nowrap;
}
.para-2 {
  width: 1310px;
  height: 360px;
  angle: 0 deg;
  opacity: 1;
}

.para-2-text {
  width: 930px;
  height: 216px;
  angle: 0 deg;
  opacity: 1;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.para-2 h1 {
  width: 500px;
  height: 58px;
  opacity: 1;
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 48px;
}

.para-3 {
  width: 1310px;
  height: 342px;
  gap: 20px;
  angle: 0 deg;
  opacity: 1;
}

.para-3 h1 {
  width: 221px;
  height: 58px;
  angle: 0 deg;
  opacity: 1;
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 48px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
}

.para-4 {
  font-family: Inter;
  font-weight: 400;
  font-style: Italic;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  height: 24px;
  angle: 0 deg;
  opacity: 1;
}
.onam {
  font-family: Inter;
  font-weight: 700;
  font-style: Italic;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.para-5 {
  gap: 37px;
  angle: 0 deg;
  opacity: 1;
}

.headerBullet {
  width: 12;
  height: 29;
  angle: 0 deg;
  opacity: 1;
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 15%;
  text-align: center;
  color: #74512d;
}

.headerBox {
  height: 118px;
  gap: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollContent {
  white-space: nowrap;
  display: inline-block;
}

/* Small screens: apply animation */
@media (max-width: 768px) {
  .scrollContent {
    animation: scrolling2 8s linear infinite;
  }
}

@media (max-width: 1300px) {
  .para-1 {
    animation: scrolling1 8s linear infinite;
  }
}

@media (max-width: 768px) {
  .para-1 {
    animation: scrolling3 8s linear infinite;
  }
}

@keyframes scrolling1 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes scrolling2 {
  from {
    transform: translateX(-130%);
  }
  to {
    transform: translateX(130%);
  }
}

@keyframes scrolling3 {
  from {
    transform: translateX(-150%);
  }
  to {
    transform: translateX(150%);
  }
}
